:root {
    font-size: 20px;
}

body {
    font-family: 'Archivo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
}

h2+ul {
    list-style: none;
    padding: 0px;
    margin: 1rem 0 0 0;
    display: flex;
    gap: 5rem;
    /* border: 1px solid red; */
}

.container .right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 13vh;
    gap: 4.3rem;
    background-color: #F8F0E5;
}

.container .left-side {
    flex: 1;
    /* border: 1px solid red; */
    position: relative;
    /* background-color: firebrick; */
}

.logo {
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* border: 1px solid red; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with 50% opacity */
}

img[alt="background"] {
    height: 100vh;
}

img[alt="logo"] {
    height: 150px;
}

.logo+p {
    font-size: 1rem;
    width: 100%;
    position: absolute;
    bottom: 130px;
    text-decoration: none;
    color: rgb(54, 54, 54);
}

a {
    color: inherit;
}

div p {
    color: white;
    font-size: 3rem;
    width: 200px;
    text-align: center;
}

.right-side>div {
    /* border: 1px solid red; */
    color: black;
    margin: 0px 3rem;
}

.right-side > :first-child {
    font-size: 1.4rem;
    font-weight: bold;
    padding-right: 20vw;
}

.right-side form {
    /* border: 1px solid red; */
    background-color: #EADBC8;
    padding: 1.5rem 3rem;
    position: relative;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 1px 3px;
}

/* uniforming form controls */
input,
textarea,
select,
button {
    display: block;
    width: 200px;
    height: 0.8rem;
    padding: 0.7rem 0.3rem;
    margin: 0;
    border: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

li+li {
    margin-top: 1.4rem;
}

form>h2 {
    /* border: 1px solid red; */
    margin: 0px;
}

form>button {
    position: absolute;
    bottom: -8vh;
    height: 2rem;
    /* width: 6rem; */
    font-size: 0.8rem;
    padding: 0.7rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    background-color: #DAC0A3;
}

form >button:hover {
    cursor: pointer;
}

input[type="number"]:focus {
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

ul input {
    font-family: 'Archivo', sans-serif;
}

ul input:focus {
    box-shadow: 2px 2px 7px;
}

ul input:focus:valid {
    outline: #0F2C59 solid 1.3px;
}